* {
    margin:0;
    padding: 0;
}
body{
    background-color: #fef8e6;
    font-family: "JetBrains Mono",sans-serif;
}
header{
    display: flex;
    width: 100%;
    flex-direction: column;
}
nav ul{
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}
nav li{
    display: inline-block;
}
nav{
    margin-bottom: 5px;
}
.menu{   
    font-family: "JetBrains Mono",sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
}
.menu a:hover{
    background-color: gray;
    border-radius: 5px;
}
.container{
    display: flex;
    box-sizing: border-box;
    max-width: 960px;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.item{
    display: block;
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
}
.pic{
    margin: auto;
}
.pic img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.pic-profile{
    height: 300px;
    border-radius: 50%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px ;
    padding: 20px;
}
.logo{
    width: 33.33%;
    height: auto;
}
.item-grid{
    text-align: center;
}
.my-images{
    width: 300px;
    height: 300px;
}
.title-grid{
    grid-column: 1/4;
}
#title-head{
    text-align: center;
}
#Home-logo{
    width: 480px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 640px){
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        box-sizing: border-box;
    }
    .item{
        text-align: center;
        width: 100%;
    }
    .item-grid{
        width: 100%;
        align-content: center;
        margin: 0 auto;
    }
    .title-grid{
        width: 100%;
    }
    .my-images{
        width: 300px;
    }
    .logo{
        width: 128px;
    }
    #Home-logo{
        width: 290px;
    }
}