* {
    margin:0;
    padding: 0;
}
body{
    background-color: #fef8e6;
    font-family: Libre Baskerville;
}
header{
    display: flex;
    width: 100%;
    flex-direction: column;
}
nav ul{
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: right;
}
nav li{
    display: inline-block;
}
nav{
    margin-bottom: 5px;
}
.menu{   
    font-family: "IBM Plex Sans Thai",sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
}
.container{
    display: flex;
    box-sizing: border-box;
    max-width: 960px;
    flex-wrap: wrap;
    margin: auto;
}
.item{
    display: block;
    box-sizing: border-box;
    width: 50%;
}
.pic{
    margin: auto;
}
.pic img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.pic-profile{
    height: 300px;
    border-radius: 50%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px ;
}
.logo{
    width: 33.33%;
    height: auto;
}
.item-grid{
    text-align: center;
}
.my-images{
    width: 300px;
    height: 300px;
}
.title-grid{
    grid-column: 1/4;
}
@media screen and (max-width:600px){
    
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo{
        width: 64px;
        height: 64px;
    }
}